@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #00ff00;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #001a00;
}

::-webkit-scrollbar-thumb {
  background: #00ff00;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00cc00;
}